doctype html
html
  head
    title=title
    link(rel='icon', type='image/svg+xml', href='/images/favicon.svg')
    link(rel='stylesheet', href='/bulma/bulma.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block stylesheets
  body
    .container
      block content
    block scripts