span.grip {
  width: 15px;
  height: 30px;
  display: inline-block;
  overflow: hidden;
  line-height: 5px;
  padding: 4px 4px;
  cursor: grab;
  vertical-align: middle;
  margin-top: -.7em;
  margin-right: .3em;
  font-size: 12px;
  font-family: sans-serif;
  letter-spacing: 2px;
  color: #cccccc;
  text-shadow: 1px 0 1px black;
}

span.grip::after {
  content: '.. .. .. ..';
}

.board {
  border: 1px solid gray;
  max-width: 220px;
}

.board-item {
  border: 1px solid gray;
  padding: 4px;
  margin: 10px;
}

.board-item.dragging {
  opacity: 0.5;
}

.board-item-hidden {
  display: none;
}

.board-item.placed {
  opacity: 0.2;
}

.draggable-item {
  cursor: grab;
}

.highlight {
  background-color: var(--bulma-text-invert);
}
